// Variables

// // Widths
$mobile: 375px;
$desktop: 1440px;

// // Colours
// // // Primary
$red: hsl(0, 100%, 74%);
$green: hsl(154, 59%, 51%);

// // // Accent
$blue: hsl(248, 32%, 49%);

// // // Neutral
$darkBlue: hsl(249, 10%, 26%);
$grayishBlue: hsl(246, 25%, 77%);


// General
// // Reset
* {
  box-sizing: border-box;
  line-height: 1;
  list-style: none;
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  position: relative;
  background-color: $red;

}

body::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  background-image: url(../images/bg-intro-mobile.png);

  @media screen and (min-width: $mobile) {
    background-image: url(../images/bg-intro-desktop.png);
  }
}

.hidden {
  display: none;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.intro-container {
  padding: 5.5em 2em 2.5em 2em;
  text-align: center;

  h1 {
    font-size: 30px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 1em;
  }

  p {
    font-size: 15px;
    color: #fff;
  }
}

.try-free-container {
  background-color: $blue;
  padding: 1.5em 5em;
  margin: 1em 1.5em;
  border-radius: 10px;
  color: #fff;
  font-size: 14px;
  text-align: center;
  box-shadow: 0px 8px 0px 0px rgba($darkBlue, 0.2);

  p {
    font-weight: 400;
  }

  span {
    font-weight: 600;
  }
}

.form-container {
  background-color: #fff;
  border-radius: 10px;
  margin: 1.5em 1.5em;
  padding: 1.5em;
  box-shadow: 0px 8px 0px 0px rgba($darkBlue, 0.2);

  div {
    position: relative;
  }

  input {
    width: 100%;
    border: 1px solid rgba($grayishBlue, 0.7);
    border-radius: 5px;
    margin-top: 1em;
    padding: 1em;
    font-size: 14px;
    font-weight: 600;
    color: $red;
  }

  div:first-of-type {
    input {
      margin-top: 0;
    }

    .icon-error {
      top: 15px;
    }
  }

  div:last-of-type {
      margin-bottom: 1em;
  }

  .input--error {
    border: 2px solid $red;
  }

  .icon-error {
    position: absolute;
    top: 28px;
    right: 15px;
  }

  .error-message {
    color: $red;
    font-size: 10px;
    font-style: italic;
    padding-top: 2px;
    padding-right: 2px;
    text-align: right;
  }

  button {
    background-color: $green;
    padding: 0.8em 2em;
    width: 100%;
    border-radius: 5px;
    text-transform: uppercase;
    color: #fff;
    font-size: 16px;
    box-shadow: 0px 4px 0px 0px darken($green, 8%);

    &:hover {
      background-color: lighten($green, 15%);
      box-shadow: 0px 4px 0px 0px darken(lighten($green, 10%), 8%);
    }

  }

    .terms {
      text-align: center;
      color: $grayishBlue;
      font-size: 11px;
      margin: 1em;
      margin-bottom: 0;
      // padding: 1em;
    }

    a {
      color: $red;
      font-weight: 600;
      text-decoration: none;
    }

}

footer {
  text-align: center;
  color: $blue;
  font-size: 12px;
  padding: 1em 3em;

  a {
    color: $blue;
    text-decoration: none;
  }
}